{% extends 'base.html' %}

{% block content %}
    <h2 style="color: rgb(27, 172, 27)">Please submit this form</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        {{ contact_eng}}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}