{% extends 'base.html'%}

{% block content %}
<br>
        <h5 class="btn" style="color: white; background-color: rgb(27, 172, 27);">Good Researcher in Good Morning </h5>
        <h5 style="color: black">아침 해처럼 밝고, 긍정적으로 데이터에 접근합니다. </h5>
        <br>

    <table class="table">
        <thead>
            <tr>
            <th>프로젝트 목록</th>
            <th>자세히보기</th>

            </tr>
        </thead>

        <tbody>
            {% for article in articles %} 
                <tr>
                    <td>{{article.title}}</td>
                    <td><strong style="color: rgb(27, 172, 27)"> 포트폴리오</strong></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}